{include file='common/flowheader' /}
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="">
<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('流程标题')}:</label>
        <div class="col-xs-12 col-sm-8">
        <label class="control-label"><strong>{$scheme->flowname}_{$instance->instancecode}</strong></label>
        </div>
    </div>

      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">申请人:</label>
        <div class="col-xs-12 col-sm-8">          
             <label class="control-label"> {$originator->nickname}</label>
        </div>
      </div>
      
          {if $fieldList.title.read==1}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8 {if $fieldList.title.write==0}disablefield{/if}">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title}">
        </div>
    </div>
    {/if}
    {if $fieldList.reason.read==1}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reason')}:</label>
        <div class="col-xs-12 col-sm-8 {if $fieldList.reason.write==0}disablefield{/if}">
            <textarea id="c-reason" data-rule="required" class="form-control " rows="5" name="row[reason]" cols="50">{$row.reason}</textarea>
        </div>
    </div>
    {/if}
    {if $fieldList.file.read==1}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('File')}:</label>
        <div class="col-xs-12 col-sm-8 {if $fieldList.file.write==0}disablefield{/if}">
            <div class="input-group">
                <input id="c-file" data-rule="required" class="form-control" size="50" name="row[file]" type="text" value="{$row.file}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-file" class="btn btn-danger plupload" data-input-id="c-file" data-multiple="false" data-preview-id="p-file"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-file" class="btn btn-primary fachoose" data-input-id="c-file" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-file"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-file"></ul>
        </div>
    </div>
    {/if}
    {if $fieldList.status.read==1}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8 {if $fieldList.status.write==0}disablefield{/if}">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="text" value="{$row.status}">
        </div>
    </div>
    {/if}
    {if $fieldList.uid.read==1}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8 {if $fieldList.uid.write==0}disablefield{/if}">
            <input id="c-uid" data-rule="required" class="form-control" name="row[uid]" type="number" value="{$row.uid}">
        </div>
    </div>
    {/if}
   </div>
{include file='common/flowtoolbar' /}
    
</form>
