<style>
    .form-block {
        padding: 10px 0;
        margin-bottom: 15px;
        background-color: #f7f7f7;
    }

    .form-block h3 {
        padding: 10px 10px;
        margin: 0 15px 15px 15px;
        font-size: 14px;
        border-bottom: 1px solid #e2e2e2;
    }
    .form-header {
        padding: 10px 0;
        margin-bottom: 15px;
        background-color: #f7f7f7;
    }
    .form-header h3 {
        padding: 10px 10px;
        margin: 0 15px 15px 15px;
        font-size: 14px;
        border-bottom: 1px solid #e2e2e2;
    }
     
</style>
<form id="analysis-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-header">
        <h3>站点信息</h3>
    {if !empty($pollutionsite)}

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Mn')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.device_code}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('SiteName')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.site_name}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.address}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Lon')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.lon}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Lat')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.lat}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Industrial_park')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.industrial_park}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Contact')}:</label>
            <div class="col-xs-12 col-sm-8">
                <label class="control-label">{$pollutionsite.contact}</label>
            </div>
        </div>
    </div>
    {else}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">暂未录入设备号为{$mn}设备的信息</label>
    </div>
    {/if}
    <div class="form-block">
        <h3>检测标准</h3>
    {if !empty($pollutionInfo)}

    {foreach name="pollutionInfo" item="vo"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-1" style="padding-left: 0;padding-right: 0">
            <label class="control-label">{$vo.name}</label>
        </div>

        <label class="control-label col-xs-12 col-sm-1">最小值:</label>
        <div class="col-xs-12 col-sm-1" style="padding-left: 0;padding-right: 0">
            {if $vo.min}
            <label class="control-label">{$vo.min}</label>
            {/if}
        </div>


        <label class="control-label col-xs-12 col-sm-1">最大值:</label>
        <div class="col-xs-12 col-sm-1" style="padding-left: 0;padding-right: 0">
            {if $vo.max}
            <label class="control-label">{$vo.max}</label>
            {/if}
        </div>

        <label class="control-label col-xs-12 col-sm-1" style="padding-left: 0;padding-right: 0">{:__('Avg')}:</label>
        <div class="col-xs-12 col-sm-1" style="padding-right: 0">
            {if $vo.avg}
            <label class="control-label" style="text-align:left">{$vo.avg} {$vo.measures}</label>
            {/if}
        </div>


        <label class="control-label col-xs-12 col-sm-1" style="padding-left: 0;padding-right: 0">实时值:</label>
        <div class="col-xs-12 col-sm-1" style="padding-right: 0">
            {if $vo.rtd}
            <label class="control-label" style="text-align:left">{$vo.rtd}{$vo.measures}</label>
            {/if}
        </div>

        <label class="control-label col-xs-12 col-sm-1" style="padding-left: 0;padding-right: 0">{:__('Alarm')}:</label>
        <div class="col-xs-12 col-sm-1" style="padding-right: 0">
            <label class="control-label" style="text-align:left">{if !empty($vo.alarm_min) || !empty($vo.alarm_max) }{$vo.alarm_min} ~ {$vo.alarm_max} {$vo.measures}{/if}</label>
        </div>
    </div>
    {/foreach}
    {else}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">暂未录入相关因子的报警标准</label>
        </div>
     {/if}
    </div>
</form>
